{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="750px" height="750px"></canvas>
</body>
<script>

    // setting up the canvas and one paper tool
    var canvas = document.getElementById('myCanvas');
    paper.setup(canvas);
    var tool = new paper.Tool();

    // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;
    var socket = new WebSocket('ws://' + window.location.hostname + ':8765/');
    socket.id = Math.floor(100000*Math.random());
    
  
    socket.onopen = function (event) {
      socket.send("Hello Server!");
    }
    
    var path = new paper.Path();
  
    var point;
    socket.colorStroke = '#' + (function co(lor){   return (lor +=
              [0,1,2,3,4,5,6,7,8,9,'a','b','c','d','e','f'][Math.floor(Math.random()*16)])
              && (lor.length == 6) ?  lor : co(lor); })('');
  
    tool.onMouseMove = function (event) {
      point = {x: event.point.x, y: event.point.y, identity: socket.id,
              color: socket.colorStroke};
      var message = JSON.stringify(point);
      socket.send(message); 
      console.log(socket.id);

    }
    
    socket.onmessage = function(receivedMessage) {
      if (receivedMessage.data === "Hello Server!") {
        console.log('Message has been received by server.');
      } else {
        var receivedMsg = JSON.parse(receivedMessage.data);
        var newPoint = new paper.Point(receivedMsg.x, receivedMsg.y);
        if (receivedMsg.identity === socket.id) {
           path.strokeColor = receivedMsg.color;
           path.add(newPoint);
        }
      }
    };
  
    socket.onclose = function(e) {
      console.error('Chat socket closed unexpectedly');
    };
    
    
    
    

</script>
</html>